

/* Estilo para los indicadores del carrusel */
.carousel-indicators li {
    background-color: #005f7f; /* Color de los indicadores */
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Indicadores como puntos */
}

.carousel-indicators button {
    background-color: #444444!important; /* Color para los indicadores inactivos */
}

.carousel-indicators .active {
    background-color: #70cbce!important; /* Color del indicador activo */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #333; /* Color de las flechas */
    border-radius: 50%; /* Forma redondeada */
    width: 40px;
    height: 40px;
}



/* Estilo para el contenedor que divide las secciones */
#item-centrado {
    font-size: 24px; /* Tamaño de fuente grande para destacar el texto */
    font-weight: bold; /* Negrita para resaltar el texto */
    color: #005f7f; /* Color del texto */
/* Espaciado interno superior e inferior */
    border-bottom: 2px solid #2396e2; /* Línea inferior para separación visual */
    margin-top: 40px; /* Margen superior para separación con el contenido anterior */
    margin-bottom: 40px; /* Margen inferior para separación con el contenido siguiente */
}




/* Estilo general para los productos destacados */
.product-container {
    position: relative; /* Necesario para que el botón y otros elementos se posicionen correctamente */
    overflow: hidden; /* Oculta cualquier cosa que se salga del contenedor */
    text-align: center; /* Centra todo el contenido dentro del contenedor */
    padding: 10px; /* Espaciado interno */
    background-color: #ffffff; 
    border-radius: 10px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave */   
    width: 280px; /* Establece un ancho fijo por defecto */
    height: 305px; /* Establece una altura constante */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}


/* Estilo para las imágenes */
.product-container img {
    width: 100% !important; /* Asegura que la imagen use todo el ancho del contenedor */
    height: 200px !important; /* Fija la altura de la imagen para mantener proporción cuadrada */
    object-fit: cover !important; /* Cubre el contenedor con la imagen, recortando si es necesario */
    border-radius: 5px !important; /* Bordes redondeados para las imágenes */
    
    background-color: #f5f5f5; /* Fondo gris claro para mostrar mientras carga la imagen */
}

/* Estilo para la información del producto */
.product-info1 {
    color: #444 !important; /* Color gris oscuro para facilitar la lectura */
    width: 100%;
    height: 35%;
    font-size: 15px !important; /* Tamaño de fuente más pequeño para la lectura */
    line-height: 1 !important; /* Espaciado entre líneas para mejor legibilidad */
    font-weight: 400 !important; /* Peso de fuente regular */
    /* background-color: #ffffff !important; /* Fondo blanco */
    padding: 5px !important; /* Espaciado interno */
    border-radius: 8px !important; /* Bordes redondeados */
    box-shadow: none !important; /* Sin sombra */
    text-align: center !important; /* Alinear texto al centro para una presentación más uniforme */

    text-transform: capitalize; /* Capitalizar texto */
}

/* Estilo para el número de serie */
.product-serial {
    font-size: 18px !important; /* Tamaño de fuente más pequeño */
    color: #00B398 !important; /* Color azul para destacar */
    font-weight: bold !important; /* Negrita para enfatizar */
    margin-bottom: 5px !important; /* Espacio inferior */
    display: block !important; /* Mantiene el formato en bloque */
}

/* Estilo para el precio del producto */
.product-container .product-price {
    font:600 21px/26px "Open Sans",sans-serif;
    font-size: 20px !important; /* Tamaño de fuente adecuado */
    color: #2396e2 !important; /* Color azul oscuro para el precio */
    /* font-weight: bold !important; Negrita para destacar el precio */
    background-color: transparent !important; /* Elimina el fondo */
    padding: 0 !important; /* Sin espaciado interno */
    display: block !important; /* Para que el fondo se ajuste al texto */
    text-align: center !important; /* Centrar el texto */
    position: relative; /* Posiciona el precio de forma absoluta */
    bottom: 1%; /* Fija el precio a 10px del fondo del contenedor */
    left: 0; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    text-shadow: none !important; /* Sin sombra de texto */
    border: none !important; /* Sin bordes */
    letter-spacing: normal !important; /* Espaciado normal entre letras */
    z-index: 1;
}



/* Estilo para el botón */
.product-container button {
    position: absolute;
    bottom: 10px; /* Espaciado desde el fondo del contenedor */
    left: 10px; /* Alineado a la izquierda */
    right: 10px; /* Alineado a la derecha */
    width: calc(100% - 20px); /* Ajusta el ancho para dar espacio a los márgenes */
    padding: 10px;
    background-color: #ff9900; /* Color naranja del botón */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto hover para el botón */
.product-container button:hover {
    background-color: #e67e22; /* Cambiar color del botón al pasar el mouse */
}

/* Efecto hover en el contenedor del producto */
.product-container:hover {
    transform: translateY(-5px); /* Levantar el contenedor ligeramente */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}


/* Superposición para el botón "Ver" */
.product-container .overlay {
    position: absolute;
    margin-top: -10px;
    left: 50%; /* Centra horizontalmente */
    top: 65%; /* Ajusta esta posición para mover el rectángulo más arriba */
    transform: translate(-50%, -50%); /* Centra el rectángulo */
    background-color: #005f7f88; /* Color azul con transparencia */
    color: #ffffff;
    padding: 9.5px 100%; /* Ajusta el tamaño del rectángulo */
    border-radius: 5px; /* Bordes redondeados */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 50;
}

.product-container .overlay:hover{
    background-color:#005f7f;
}

/* Superposición para el botón "Añadir al Carrito" */
.product-container .overlay-cart {
    position: absolute;
    left: 50%; /* Centra horizontalmente */
    top: 83%; /* Ajusta esta posición para mover el rectángulo más abajo */
    transform: translate(-50%, -50%); /* Centra el rectángulo */
    color: white;
    padding: 3% 100%; /* Ajusta el tamaño del rectángulo */
    border-radius: 5px; /* Bordes redondeados */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 50;
}

.product-container:hover .overlay,
.product-container:hover .overlay-cart {
    opacity: 1;
    visibility: visible;
    /* background-color: #2396e2ff; */
    /* padding:0px; */
}

.overlay-text {
    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}


/* Estilo para el botón "Añadir al Carrito" en el overlay */
.overlay-cart button {
    margin: 0;
    background-color: #00B39888;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.overlay-cart button:hover {
    background-color: #00B398;
}


/* Superposición adicional para mostrar la descripción y número de serie */
.product-container .overlay-info {
    display: none;
    position: absolute;
    left: 0; /* Alinea el overlay al borde izquierdo del contenedor */
    right: 0; /* Alinea el overlay al borde derecho del contenedor */
    top: 50.2%; /* Centra verticalmente el overlay */
    transform: translateY(-50%); /* Ajusta la posición para mantenerlo centrado */
    background-color: #00B398; /* Fondo oscuro con transparencia */
    color: white;
    height: 18%;
    padding: 5px 10px; /* Espaciado interno reducido */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    text-align: center; /* Centra el texto dentro del overlay */
    font-size: 11px; /* Tamaño de fuente más pequeño */
    line-height: 1.2; /* Reduce el espacio entre líneas */
}

/* Mostrar el overlay al hacer hover sobre el contenedor */
.product-container:hover .overlay-info {
    opacity: 1;
    visibility: visible;
}

/* Ajustes específicos para el número de serie y la descripción */
.overlay-info p {
    margin: 2px 0; /* Reduce el margen entre el número de serie y la descripción */
}

.badge-offer {
    position: absolute;
    top: 10px;
    left: 10px; /* Cambiado de right a left */
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 10; /* Asegura que el badge esté encima de otros elementos */
}

.badge-offer-destacados {
    position: absolute;
    top: 10px;
    right: 10px; /* Cambiado a la derecha */
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 10; /* Asegura que el badge esté encima de otros elementos */
}
.icon-small {
    width: 50px;  /* Ajusta este valor según el tamaño que desees */
    height: auto;  /* Mantén la proporción de la imagen */
}
        /* Mostrar las superposiciones cuando el producto está activo */
        .product-container.active .overlay,
        .product-container.active .overlay-cart,
        .product-container.active .overlay-info {
            opacity: 1;
            visibility: visible;
        }

        /* Asegurar que las superposiciones no se muestren por defecto en móviles */
        @media (max-width: 767.98px) {
            .product-container .overlay,
            .product-container .overlay-cart,
            .product-container .overlay-info {
                opacity: 0;
                visibility: hidden;
            }

            /* Transición suave para las superposiciones */
            .product-container .overlay,
            .product-container .overlay-cart,
            .product-container .overlay-info {
                transition: opacity 0.3s ease, visibility 0.3s ease;
            }
        }

        /* Opcional: Ajustar el cursor para indicar interactividad */
        @media (hover: none) and (pointer: coarse) {
            .product-container > a {
                cursor: pointer;
            }
        }