.icon-hover:hover {
    border-color: #005f7f !important;
    background-color: white !important;
    color: #3b71ca !important;
  }
  
  .icon-hover:hover i {
    color: #3b71ca !important;
  }

  #main-image-container {
    cursor: zoom-in; /* Cambia el puntero del mouse a una lupa */
}


/* Estilos para los botones de zoom in y zoom out */
.zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.zoom-controls button {
  background-color: #0d6efd;
   border: 0px solid #000000!important; 
  color: #ffffff;
  margin: 2px;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  width: 40px; /* Ancho fijo para que ambos botones tengan el mismo tamaño */
  height: 40px; /* Altura fija para que ambos botones tengan el mismo tamaño */
}

.zoom-controls button:hover {
  background-color: #0056b3;
  color: #ffffff;
}

/* Estilos para alinear todos los contenedores a la misma altura */
.product-card {
  height: 300px; /* Establece una altura mínima para los contenedores */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
}

.product-card img {
  max-height: 150px; /* Asegúrate de que las imágenes no superen esta altura */
  object-fit: contain;
  margin-bottom: 15px;
}

.product-info {

  flex-grow: 1;
}

.product-info h6 {
  margin-bottom: 10px;
}

.product-info p {
  text-align: right!important;
  margin-bottom: 10%;
  font-weight: bold;
  color: #535353;
  font-size: 130%;
}

.owl-carousel .item {
  display: flex;
  justify-content: center;
  align-items: center;
}


.owl-nav {
  margin-top: 10px;
  text-align: center;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  background-color: #007bff;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background-color: #0056b3;
}
